<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
    <%= stylesheet_link_tag    'bootstrap/css/bootstrap' %>
    <%= stylesheet_link_tag    'dist/css/AdminLTE' %>
    <%= stylesheet_link_tag    'bootstrap/css/bootstrap' %>
    
      <%= stylesheet_link_tag    'iCheck/all.css' %>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <%= javascript_include_tag "plugins/jQuery/jQuery-2.1.4.min"%>
    <%= javascript_include_tag "bootstrap/js/bootstrap.min"%>
    <%= javascript_include_tag "plugins/iCheck/icheck.min" %>
 
</head>
<body class="login-page">

<%= yield %>

</body>
</html>
